.nullius-wallet-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    font-size: 24px;
    background-color: black;
    color: white;
    border: 3px solid #2a8452;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}
